/* *{
    width: 95%;
    /* border: 2px solid black; */
    /* text-align: center; */
    margin: auto;
    margin-top: 20px;
}

#container{
    border: 2px solid black;
}

#content{
    /* display: flex;
    align-content: center; */
} */