<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Page</title>

</head>

<body>
    <h2>Please Log in.</h2>
    {% if messages %}
    <ul class="messages" style="color: red">
             {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <form action="/login" method="post">
        {% csrf_token %}
        <p>Email: <input type="text" name="email"></p>
        <p>Password: <input type="password" name="password"></p>

        <p><button type="submit">Log In!</button></p>
    </form>
    <p>Not a registered User? Click <a href="/registerUser">here</a> to register.</p>

</body>

</html>