
#wrapper{
    height: 900px;
    width: 1200px;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
#container{
    height: 600px;
    width: 700px;
    border: black solid 2px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
}
#box1{
    background: linear-gradient(red,darkred);
    height: 150px;
    width: 400px;
    text-align: center;
    justify-content: center;
    position: absolute;
    color: white;
    padding-top: 90px;
    font-size: 30px;
    top: 350px;
    left: 410px;
}
#box2{
    background: linear-gradient(darkred,red);
    height: 150px;
    width: 400px;
    text-align: center;
    position: absolute;
    color: white;
    padding-top: 90px;
    font-size: 30px;
    top: 350px;
    left: 410px;
}
#box3{
    background-color: green;
    height: 150px;
    width: 400px;
    text-align: middle;
    position: absolute;
    color: white;
    padding-top: 90px;
    font-size: 30px;
    top: 350px;
    left: 410px;
}
