<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard-PIKE</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">

</head>


<body>
    <table>
        {%for i in range(X) %}
        <tr class="Y">
            {% for j in range(Y): %}
            <td class='box1'></td>
            <td class='box2'></td>
            {% endfor %}
        </tr>
        <tr class="Y">
            {% for j in range(Y): %}
            <td class='box2'></td>
            <td class='box1'></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>